@use 'element-plus/dist/index.css';
$bg-color-white: #ffffff;
$bg-color-dark: #020102;
$font-color-white: #333;
$font-color-dark: #fff;
$bd-color-white: #eee;
$bd-color-dark: #494848;
$input-bd-white: #50576659;
$input-bd-dark: #eee;
$input-foucs-bd: #0091ff;

@mixin input_bd_color($color) {
  /*通过该函数设置字体颜色，后期方便统一管理；*/
  color: $color !important;
  [data-theme="white"] & {
    color: $input-bd-white !important;
  }
  [data-theme="dark"] & {
    color: $input-bd-dark !important;
  }
}
@mixin font_color($color) {
  /*通过该函数设置字体颜色，后期方便统一管理；*/
  color: $color !important;
  [data-theme="white"] & {
    color: $font-color-white !important;
  }
  [data-theme="dark"] & {
    color: $font-color-dark !important;
  }
}

@mixin bg_color($color) {
  background-color: $color !important;
  [data-theme="white"] & {
    background-color: $bg-color-white !important;
  }
  [data-theme="dark"] & {
    background-color: $bg-color-dark !important;
  }
}

@mixin bd_color($color) {
  border-color: $color !important;
  [data-theme="white"] & {
    border-color: $bd-color-white !important;
  }
  [data-theme="dark"] & {
    border-color: $bd-color-dark !important;
  }
}

body {
  color: $font-color-white !important;
  background-color: $bg-color-white;
  font-family: -apple-system BlinkMacSystemFont Tahoma Arial sans-serif,
    Segoe UI, Helvetica Neue, PingFang SC, Hiragino Sans GB, Microsoft YaHei,
    Microsoft JhengHei, Noto Sans !important;
  &[data-theme=dark] {
    color: $font-color-white !important;
    background-color: $bg-color-dark !important;
  }
}
article,
aside,
blockquote,
body,
button,
code,
dd,
details,
div,
dl,
dt,
fieldset,
figcaption,
figure,
footer,
form,
h1,
h2,
h3,
h4,
h5,
h6,
header,
hgroup,
hr,
input,
legend,
li,
menu,
nav,
ol,
p,
pre,
section,
td,
textarea,
th,
ul {
  margin: 0;
  padding: 0;
}
ul {
  list-style: none;
}
a {
  text-decoration: none;
  color: #000;
}
@font-face {
  font-family: 'iconfont';
  src: url('../font/iconfont.ttf?t=1666870291502') format('truetype');
}
.iconfont {
  font-family: 'iconfont' !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
// /* pc width > 1024px */
// body {
//   background-color: yellow;
// }
// /* ipad pro */
// @media screen and (max-width: 1024px) {
//   body {
//     background-color: #ff00ff;
//   }
// }
// /* ipad */
// @media screen and (max-width: 768px) {
//   body {
//     background-color: green;
//   }
// }
// /* iphone6 7 8 plus */
// @media screen and (max-width: 414px) {
//   body {
//     background-color: blue;
//   }
// }
// /* iphoneX */
// @media screen and (max-width: 375px) and (-webkit-device-pixel-ratio: 3) {
//   body {
//     background-color: #0ff000;
//   }
// }
// /* iphone6 7 8 */
// @media screen and (max-width: 375px) and (-webkit-device-pixel-ratio: 2) {
//   body {
//     background-color: #0ff000;
//   }
// }
// /* iphone5 */
// @media screen and (max-width: 320px) {
//   body {
//     background-color: #0ff000;
//   }
// }
